Repository WhiteCloud0123/CDDA-Breeze, pull requests merged in 2023-01, with the labels that each got.

#8 完善怪物等级的相关机制-第一部分
  src/avatar_action.cpp
  src/game.cpp
  src/monster.cpp
Labels: [C++]

#9 触发分支由master修改为main
  .github/workflows/release.yml
Labels: Code: Tooling

#10 测试
  doc/WIDGETS.md
Labels: [Markdown], <Documentation>

#14 生成贡献者列表-测试
  README.md
Labels: [Markdown], <Documentation>

#19 完善工作流-02
  .github/workflows/CBA.yml
  .github/workflows/check-branch-name.yml
  .github/workflows/clang-tidy.yml
  .github/workflows/cmake-format.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/flake8.yml
  .github/workflows/matrix.yml
  .github/workflows/msvc-full-features.yml
  .github/workflows/pr-validator.yml
  .github/workflows/pull-translations.yml
  .github/workflows/text-changes-analyzer.yml
  .github/workflows/toc.yml
  .github/workflows/update-tilesets.yml
Labels: Code: Tooling

#28 构建测试-05
  .github/workflows/msvc-full-features.yml
  .github/workflows/release.yml
Labels: Code: Tooling

#32 Github工作流安卓构建-第一部分
  .github/workflows/release.yml
Labels: Code: Tooling

#35 重新为“永恒的天气”添加可视化的选项
  .github/workflows/msvc-full-features.yml
  data/core/game_balance.json
  src/options.cpp
Labels: [C++], Code: Tooling, [JSON]

#36 同步“develop”分支
  引用的PR及其他内容一览.md
Labels: [Markdown], <Documentation>
